<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }} - {{ shop.name }}</title>
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">

</head>
<body>
  <header class="site-header">
    <!-- Announcement Bar -->
    <div class="announcement-bar" id="announcement-bar">
      <span id="text">Free shipping on orders over $50!</span>
      <span class="announcement-bar__close" onclick="document.getElementById('announcement-bar').style.width='0px'">✖</span>
    
     

    </div>
    </header>
      
    </body>
    </html>
