<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
</head>
<body>
  <header>
  <div class="site-header">
    <div class="site-logo">
      <!-- Logo -->
   
    </div>

    <nav class="site-navigation">
      <!-- Navigation Menu -->
      <ul>
        {% for link in linklists.main-menu.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="site-header-icons">
      <!-- Search Icon -->
      <a href="/search" class="search-icon">
        <i class="icon-search"></i>
      </a>
      <!-- Cart Icon -->
      <a href="/cart" class="cart-icon">
        <i class="icon-cart"></i>
      </a>
    </div>
  </div>
</header>
</body>
</html>
