<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="site-header">
      <div class="site-logo">
        <!-- Static Logo -->
        <img src="{{ 'https://theme-refresh-demo.myshopify.com/cdn/shop/files/logo.png?v=1650474991' | asset_url }}" alt="Your Image Alt Text" width="20px" height="20px">

      </div>

      <nav class="site-navigation">
        <!-- Navigation Menu -->
        <ul>
          {% for link in linklists.main-menu.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <div class="site-header-icons">
        <!-- Search Icon -->
        <a href="/search" class="search-icon">
          <i class="icon-search"></i>
        </a>
        <!-- Cart Icon -->
        <a href="/cart" class="cart-icon">
          <i class="icon-cart"></i>
        </a>
      </div>
    </div>
  </header>
</body>
</html>
